# ===== .NET / Visual Studio =====

# Build folders
bin/
obj/
out/
[Bb]uild/

# VS user data
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE / debug
*.tlog
*.pdb
*.dbmdl
*.cache
*.tmp

# Publish output
publish/
wwwroot/lib/
wwwroot/dist/

# Entity Framework
Migrations/

# OS / misc
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
